* {
    box-sizing: border-box;
    /* background-color: white; */
}

body {
    position: relative;
}

header {
    background-color: white;
    height: 50px;
    max-width: 100%;
    position: relative;
}

#logo {
    float: left;
}

#menu {
    background-color: black;
    width: 50px;
    height: 40px;
    float: right;
}
.container {
    width: 100vw; /* % from width*/
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: silver;
}

/* h2 {
    margin: 0px;
    position: absolute;
}

h2:nth-child(1) {
    top: 0;
    left: 0;
}

h2:nth-child(2) {
    top: 0;
    right: 0;
}

h2:nth-child(3) {
    bottom: 0;
    left: 0;
}

h3:nth-child(4) {
    color: chartreuse;
    bottom: 0;
    right: 0;
} */

.cover_img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height: auto;
}

.banner {
    position: absolute;
    top: 30%;
    /* width: 100%; */
    /* transform: translate(-50%);
    left: 50% */
    left: 42%;
    /* text-justify: center; */
}

h1 {
    /* width: 100%; */
    /* text-align: center; */
    background-color: transparent;
    color: white;
    left: -20%;
}

button {
    /* left: 42%; */
    width: 160px;
    background-color: yellow;
    color: black;
    border-radius: 10px;
}

.paragraf {
    background-color: silver;
    margin: 0;
}

h2 {
    background-color: silver;
    margin: 0;
}

section {
    display: inline-block;
}

@media screen and (max-width: 800px;) {
}
