* {
    box-sizing: border-box;
}

header {
    background-color: white;
    height: 50px;
    max-width: 100%;
    position: relative;
}

#logo {
    float: left;
    margin: 0px 10px;
}

#nav {
    display: block;
    width: 50px;
    height: 40px;
    float: right;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

.container {
    width: 100vw; /* % from width*/
    height: auto;
    margin: 0 auto;
    position: relative;
    background-color: silver;
}

.cover_img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height: auto;
    opacity: 85%;
}

.cover_img:hover {
    opacity: 100%;
}

.banner {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    background-color: transparent;
    color: white;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
    text-align: center;
    word-spacing: 1pt;
    letter-spacing: 0.5pt;
}

button {
    position: absolute;
    margin: 10px auto;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
    height: 40px;
    background-color: yellow;
    border-radius: 30px;
    border: 4px solid goldenrod;
    color: goldenrod;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

button:hover {
    background-color: purple;
}
button:active {
    border: 8px solid goldenrod;
}

a {
    color: goldenrod;
    text-decoration: none;
}

#paragraf {
    background-color: silver;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    background-color: silver;
    padding: 40px 80px;
}

h2 {
    background-color: silver;
    margin: 0px;
}

section {
    display: inline-block;
    width: 500px;
    height: 200px;
    margin: 10px;
}

.icons {
    width: 40px;
    height: 40px;
}

.description {
    width: 400px;
    height: auto;
}

article {
    /* padding: 0 40px; */
    position: relative;
    left: 50px;
    bottom: 40px;
}

p {
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    h2 {
        color: purple;
    }

    section {
        display: block;
        width: 100%;
        height: auto;
    }
    .description {
        width: 300px;
        height: auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: purple;
        color: antiquewhite;
    }
}
