#ticker {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-bottom: 2px dotted red;
    height: 1.5em;
}

#headlines {
    position: absolute;
    left: 100%;
    white-space: nowrap;
}

#headlines a {
    padding: 30px;
    border: 1px solid blue;
    text-decoration: none;
}
