body {
    margin: 0;
}

.kitty-container {
    height: 600px;
    overflow: hidden;
    position: relative;
}

.kitty-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(100%);
}

.kitty-container img.onscreen {
    transform: translateX(0);
    transition: transform 3s;
}

.kitty-container img.offscreen-left {
    transform: translateX(-100%);
    transition: transform 3s;
    display: flex;
    justify-content: center;
    width: 100%;
}

#dots {
    position: absolute;
    bottom: 30px;
}

.dot {
}
