 <div class="project-container">

 <nav>
     <h1>MY PROJECTS:</h1>
 
 {{>projectlist}}
 </nav>

 

{{#selectedProject}}
<div id="description-container">
    
    <figure><p>{{title}}</p><img src='/{{directory}}/screenshot.png' width="600"><figcaption class>{{description}}</figcaption class="description"></figure>
   <a href="/{{directory}}" target="_blank"><p class="button">Go to Project</p></a></div>

{{/selectedProject}} 


</div>
