 
 <nav>{{>projectlist}}</nav>

 

{{#selectedProject}}
<div id="description">
    <h2>{{title}}</h2>
    <figure><img src='/{{directory}}/screenshot.png' width="600"><figcaption>{{description}}</figcaption></figure>
   <a href="/{{directory}}" target="_blank">Launch</a>
</div>
{{/selectedProject}}



