<h1>HOME</h1>
<h3>Welcome to my Portfolio</h3>

<h3>PROJECTS:</h3>
<div>
    {{#projectsData}}
    <figure><a href="{{directory}}"><img src='/{{directory}}/screenshot.png' width="400"><figcaption>{{title}}</figcaption></a></figure>
   
    {{/projectsData}}
</div>