<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Handlebars Porfolio</title>
</head>
<body>
    <header></header>
    {{{body}}} {{!-- triple curly brackets --}}
    <footer></footer>

    {{!-- header and footer will appear on every page like /home, /about, etc.  --}}
</body>
</html>